name: Create PR from Develop to Main

on:
  push:
    branches:
      - develop

jobs:
  create-pr:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check if PR exists
        id: check_pr
        env:
          GH_TOKEN: ${{ secrets.GH_PAT }}
        run: |
          prs=$(gh pr list --base main --head develop --json number --jq 'length')
          echo "count=$prs" >> $GITHUB_OUTPUT

      - name: Get current date
        id: date
        run: echo "today=$(date +'%y%m%d')" >> $GITHUB_OUTPUT

      - name: Create Pull Request
        if: steps.check_pr.outputs.count == '0'
        env:
          GH_TOKEN: ${{ secrets.GH_PAT }}
        run: |
          gh pr create \
            --base main \
            --head develop \
            --title "Deploy ${{ steps.date.outputs.today }}" \
            --body "Automated PR created by GitHub Actions after push to develop branch."
